body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
}
.w3-bar,
h1,
button {
    font-family: 'Montserrat', sans-serif;
}
.fa-anchor,
.fa-coffee {
    font-size: 200px;
}

img.logo-medium {
    max-height: 120px;
}

img.logo-small {
    max-width: 180px;
    max-height: 70px;
}
